language: python
cache: pip
sudo: false

python:
  - "3.6"
  - "3.7"
  - "3.8"

env:
  - DJANGO=1.11
  - DJANGO=2.0
  - DJANGO=3.0

install:
  - pip install poetry
  - poetry install
  - poetry run pip install django==$DJANGO

matrix:
    fast_finish: true

script: poetry run make coverage

after_success:
  - poetry run codecov
