[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

ipdb = "*"
ipython = "*"
pypandoc = "*"
codecov = "*"
django = "*"
coverage = "*"


[packages]
future = "*"
six = "*"
